// Colors
$primary-color: #FFFFFF;
$secundary-color: #333333;
$tertiary-color: #BDBDBD;
$special-color: #F0402C;

// Fonts
$inconsolata: 'Inconsolata', monospace;
$space-mono: 'Space Mono', monospace;
$montserrat: 'Montserrat', sans-serif;
