body {
    font-family: $space-mono;
    font-weight: bold;
    color: $secundary-color;
    background-color: $primary-color;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 2rem auto;
    padding: 2rem;
    .center-container {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .image {
            width: 40%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .text {
            width: 40%;
            h3 {
                font-size: 4rem;
            }
        }
    }
    footer {
        margin-top: 8rem;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .center-container {
        .text {
            h3 {
                font-size: 3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 2rem;
    }
    .center-container {
        width: 100%;
        flex-direction: column;
        .image {
            width: 100% !important;
        }
        .text {
            width: 100% !important;
            h3 {
                font-size: 3rem !important;
            }
        }
    }
}
